/* Prefix with .App to give precedence over bootstrap styles */
.App h1, .App h2, .App h3, .App h4, .App h5, .App h6 {
  font-family: 'Roboto Slab', serif;
}
.navbar.navbar-inverse {
  border-radius: 0;
  font-family: 'Roboto Slab', serif;
}
.navbar-header {
  float: left;
}
.navbar-right {
  float: right;
  margin-right: -15px;
}
.invoice-list td:nth-child(2){
  width: 50%;
}
.line-items .form-group {
  margin-bottom: 0;
}
.line-items td:nth-child(1) {
  width: 75%;
}
.line-items td:nth-child(3){
  width: 15%;
}
.line-items td:nth-child(3){
  width: 10%;
  vertical-align: middle;
}
.btn {
  margin: 2px;
}
