/* Prefix with .App to give precedence over bootstrap styles */
.invoice-list td {
  width: 10%;
  cursor: pointer;
}
.invoice-list td:nth-child(2){
  width: 50%;
}
.invoice-list td:nth-child(2){
  width: 20%;
}

.invoice-list tr.overdue td {
  background-color: #ffd3d3;
}
.line-items .form-group {
  margin-bottom: 0;
}
.line-items td:nth-child(1) {
  width: 75%;
}
.line-items td:nth-child(3){
  width: 15%;
}
.line-items td:nth-child(3){
  width: 10%;
  vertical-align: middle;
}
.btn {
  margin: 2px;
}
.breadcrumb, .InvoiceForm h1 {
  text-transform: capitalize;
}
.InvoiceForm .line-items {
  margin-bottom: 0;
}
